body {
  font-family: 'Press Start 2P', cursive;
  transition: background-color 0.5s, color 0.5s;
}
.titulo {
  font-size: 2.8rem;
  letter-spacing: 1px;
  animation: fadeDown 1s ease-out forwards;
  margin-bottom: auto;
  margin-right: auto;
}

.boton {
  @apply w-10 h-10 rounded-full border-2 border-black text-sm flex items-center justify-center hover:bg-zinc-500 active:scale-95 transition-all;
} 
/* En un principio quise incorporar Tailwind nativo al proyecto, quedó descartado */

.pantalla {
  font-size: 12px;
  height: 40px;
  background-color: #9ae6b4; /* verde pixel */
  border: 2px solid black;
  color: black;
}

body.dark .pantalla {
  background-color: #22543d; /* verde oscuro */
  color: #9ae6b4;
}

body.light {
  background-color: #76e4f7;
  color: black;
}

body.dark {
  background-color: #1a202c;
  color: white;
}
.portfolio-text {
  font-size: 0.9rem;
  color: #555;
  text-align: center;
  margin-top: 1rem;
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 0.4rem 0.8rem;
  border-radius: 8px;
  z-index: 1000;
  backdrop-filter: blur(4px); /* opcional para efecto vidrio */
}

.portfolio-text a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.portfolio-text a:hover {
  text-decoration: underline;
}

body.dark .portfolio-text {
  color: #fff;} /* si usás dark mode